appdirs   
asgiref    
beautifulsoup4    
bs4   
certifi
chardet  
cssselect   
Django    
fake-useragent   
feedparser   
idna 
lxml    
multitasking   
numpy  
pandas_datareader
pandas
parse
pip
plotly
pyee
pyppeteer
pyquery
python-dateutil
pytz
requests
requests-html
setuptools
sgmllib3k
six
soupsieve
sqlparse
tenacity
tqdm
urllib3
w3lib
websockets
wheel
yahoo-fin
yfinance
whitenoise
django_heroku
gunicorn
